.login__modal{
     
 float: right;
 z-index: 2;
 background-color: rgba(255, 255, 255, 0.7);
width: 100%; 
box-shadow: 1px 1px 1px black;
 justify-content: center;
margin: 2rem;
display: flex;
box-sizing: border-box;
transition: all 0.3s ease-out;
border-radius: 0.5rem;
 
}

.display-block {
    display: block;
  }